.boton {
    grid-column: span 1;
}

.boton {
    display: inline-flex;
    width: 100%;
    height: 4em;
    background: #141414;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    /* overflow: hidden; */

    span {
        position: relative;
        z-index: 2;
        transition: .3 ease all;
    }
}